* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://i.ibb.co/84GLrDH/lol.jpg");
    background-blend-mode: luminosity;
    background-attachment: fixed;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

a {
    text-decoration: none !important;
}

.hi-ask {
    position: fixed;
    bottom: 45vh;
    right: 2vw;
    z-index: 99999;
    width: 60px;
    height: 60px;
    text-align: center;
}

#asking {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}

#a-k-m {
    width: 100%;
    height: 70%;
    animation-name: ask-me;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#ask-lo {
    margin-top: 10vh;
}

@keyframes ask-me {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

nav {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999999;
}

nav ul {
    width: 80%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.s-s {
    animation-name: slide;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.s-col {
    animation-name: slide-col;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide {
    from {
        left: 30vw;
    }
    to {
        left: 0;
    }
}

@keyframes slide-col {
    from {
        top: 30vh;
        left: 5vw;
    }
    to {
        top: 0;
        left: 0;
    }
}

#demo {
    width: calc(100px + 40vw);
}

#rose-white a {
    color: black;
}

#rose-white p {
    border-bottom: 1px solid grey;
}

.yo-yo {
    text-align: center;
    margin-top: 5vh;
    position: relative;
}

nav ul li {
    margin-right: calc(20px + 1vw);
    margin-top: 20px;
    font-size: calc(12px + 1vw);
}

nav ul li a {
    color: black;
}

.profile-me {
    width: 100%;
    height: 50vw;
    position: relative;
    color: white;
}

#lol-l {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.profile-content {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    width: 100%;
    position: relative;
    top: 20vw;
    left: 0px;
    z-index: 3;
    height: 30vw;
}

#me-me {
    margin-left: 10px;
    font-size: calc(20px + 2.5vw);
}

#life {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 12vw;
    right: 10vw;
    z-index: 2;
    height: 30vw;
}

.slide-down {
    animation-name: slide-down;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.slide-down-2 {
    animation-name: slide-down-2;
    animation-timing-function: ease-out;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

#bookmark {
    position: absolute;
    z-index: 2;
    width: 30vw;
    height: 150%;
    top: 0;
    bottom: 0;
    left: 2vw;
}

@keyframes slide-down-2 {
    0% {
        top: -20vw;
    }
    25% {
        top: 0;
    }
    50% {
        top: -10vw;
    }
    75% {
        top: 0;
    }
    100% {
        top: -20vw;
    }
}

@keyframes slide-down {
    from {
        top: 0vw;
    }
    to {
        top: 12vw;
    }
}

.profile-content img {
    width: 30%;
    height: 100%;
    border-radius: 50%;
    margin-left: 2vw;
    border: 7px groove grey;
}

.template div li {
    text-align: left;
}

.template {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-bottom: 2px solid grey;
    position: relative;
    z-index: 4;
    padding: 3%;
    font-size: calc(12px + 0.5vw);
    margin-top: 1%;
}

li {
    list-style: none;
}

h1 {
    font-size: 3em;
    /* color: black; */
    font-weight: bold;
}

a {
    text-decoration: none;
}

.skill-logo {
    width: 11%;
    height: 11%;
    margin: 4%;
}

.pro-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    border-bottom: 2px solid grey;
}

.pro-child {
    width: 50%;
    height: 40vw;
    margin: 2vw;
}

.pro-container img {
    width: 100%;
    height: 80%;
}

.hobbies-list {
    padding: 0.5em;
    margin: 0.5em;
    display: inline-block;
    font-size: 2.5vw;
}

.i-hobbies {
    width: 15%;
    min-width: 70px;
    min-height: 70px;
    padding: 0.7em;
    margin: 0.7em;
    border-radius: 40px;
}

.like {
    width: 100%;
    display: block;
    text-align: center;
    font-size: calc(15px + 1vw);
}

.foot-ele {
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: calc(5px + 1vw);
}

#like {
    cursor: pointer;
    font-size: calc(45px + 4vw);
    float: center;
}

@keyframes heart-pop {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

.foot-img {
    width: calc(12px + 2vw);
    height: calc(12px + 2vw);
    margin: calc(6px + 1vw);
}

#bar-nav {
    display: none;
}

#my-name-khan {
    display: none;
}

@media screen and (max-width: 600px) {
    nav ul {
        display: none;
    }
    #bar-nav {
        display: block;
    }
    #my-name-khan {
        display: block;
        text-align: center;
        width: 80%;
        font-family: Brush Script MT, Brush Script Std, cursive;
    }
}