        body {
            background-color: cyan;
        }
        
        .head {
            display: inline-block;
            padding: 0.5em;
            margin: 0.5em;
            /* font-size: 15em; */
            font-family: 'Courier New', Courier, monospace;
        }
        
        header {
            background-image: linear-gradient(to right, cyan, rgb(0, 255, 38));
            /* background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(0, 255, 51)); */
            border-radius: 45px
        }
        
        h1 {
            font-size: 2.5em;
            font-family: 'Courier New', Courier, monospace;
            /* color: black; */
            text-shadow: 5px 5px white;
        }
        
        a {
            text-decoration: none;
        }
        
        h2 {
            text-shadow: 5px 5px white;
            font-family: 'Courier New', Courier, monospace;
            font-size: 2em;
        }
        
        .aboutme {
            border-radius: 45px;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            padding: 0.5em;
            margin: 0.5em;
            background-image: linear-gradient(to right, cyan, rgb(0, 255, 38));
        }
        
        .skills {
            display: inline-block;
            text-align: center;
            background-image: linear-gradient(to right, cyan, rgb(0, 255, 38));
            border-radius: 45px;
        }
        
        .skill-logo {
            width: 11%;
            /* height: 90px; */
            padding: 0.5em;
            margin: 0.5em;
        }
        
        .hobbies {
            /* display: inline-block; */
            text-align: center;
            border-radius: 45px;
            background-image: linear-gradient(to right, cyan, rgb(0, 255, 38));
        }
        
        .hobbies-list {
            padding: 0.5em;
            font-family: 'Courier New', Courier, monospace;
            margin: 0.5em;
            display: inline-block;
            font-size: 3vw;
        }
        
        .hobbies-img {
            display: inline-block;
        }
        
        .i-hobbies {
            width: 15%;
            /* height: 90px; */
            padding: 0.7em;
            margin: 0.7em;
            border-radius: 45px
        }
        
        #profile {
            width: 20%;
            border: 9px double rgb(0, 149, 255);
            border-radius: 45px;
            /* margin-top: 34px; */
            /* box-shadow: 5px 10px #483f3f; */
        }
        
        #profile:hover {
            width: 30%;
            border: 9px double rgb(0, 149, 255);
            border-radius: 45px;
            width: 25%;
            transform: rotate(360deg);
            transition: width 2s, height 2s, transform 2s;
            /* margin-top: 34px; */
            box-shadow: 10px 10px 10px #483f3f;
        }
        
        .my-address {
            text-align: center;
            border-radius: 45px;
            background-image: linear-gradient(to right, cyan, rgb(0, 255, 38));
        }
        
        .foot-ele {
            font-family: 'Courier New', Courier, monospace;
        }
        
        footer {
            display: inline-block;
            color: black;
            text-align: center;
        }
        
        .foot-img {
            width: 5%;
            /* height: 90px; */
            padding: 0.7em;
            margin: 0.7em;
            border-radius: 45px
        }
        
        .skill-logo:hover {
            width: 15%;
            /* height: 90px; */
            padding: 0.5em;
            margin: 0.5em;
            box-shadow: 10px 10px 5px #483f3f;
            transform: rotate(360deg);
            transition: width 2s, height 2s, transform 2s;
        }
        
        .i-hobbies:hover {
            box-shadow: 10px 10px 5px #483f3f;
            width: 20%;
            /* height: 90px; */
            padding: 0.7em;
            margin: 0.7em;
            border-radius: 45px;
            transform: rotate(360deg);
            transition: width 2s, height 2s, transform 2s;
        }