       /* * {
           box-sizing: border-box;
           margin: 0;
           padding: 0;
       } */
       
       body {}
       
       .head {
           display: inline-block;
           padding: 0.5em;
           margin: 0.5em;
           /* font-size: 15em; */
           font-family: 'Courier New', Courier, monospace;
       }
       
       header {
           /* background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(0, 255, 51)); */
           border-radius: 45px
       }
       
       .container-pendu {
           height: 25vw;
           width: 25vw;
           /* margin-right: 10%; */
           /* background-image: linear-gradient(to bottom, rgb(6, 224, 248), rgb(1, 162, 6)); */
           display: flex;
           justify-content: center;
           align-items: flex-start;
       }
       
       .base {
           width: 7%;
           height: 7%;
           background-color: rgb(255, 15, 15);
           border-radius: 0% 0% 50% 50%;
           border-bottom: 2px solid transparent;
           position: relative;
           left: 40%;
           border: 2px solid rgba(255, 255, 255, .5);
       }
       
       .template div li {
           text-align: left;
       }
       
       .template {
           font-family: 'Courier New', Courier, monospace;
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-content: center;
           text-align: center;
           border-bottom: 2px solid grey;
           position: relative;
           padding: 3%;
           margin-top: 1%;
       }
       
       #skills-head {
           /* left: 50%; */
           margin-left: 25%;
       }
       
       li {
           list-style: none;
       }
       
       .thread {
           width: 0.25%;
           height: 39%;
           top: 2.5%;
           left: 32%;
           transform-origin: 0% 0%;
           position: relative;
           background-color: black;
           animation: rota 2s ease-in-out infinite;
       }
       
       .bob {
           width: 7.5%;
           height: 7.5%;
           left: 28.25%;
           top: 39%;
           z-index: 3;
           position: relative;
           background: radial-gradient(circle at 70% 35%, white, #848584 30%, #000000 50%);
           border-radius: 50%;
           transform-origin: 0% -450%;
           animation: rota2 2s ease-in-out alternate infinite;
       }
       
       .shadow {
           width: 8%;
           height: 4%;
           background: rgba(0, 0, 0, 0.2);
           border-radius: 50%;
           position: relative;
           top: 50%;
           left: -15%;
           margin: 50px auto 0;
           animation: moveShade 1s ease-in-out alternate infinite;
       }
       
       @keyframes rota {
           0%,
           100% {
               background: radial-gradient(circle at 70% 35%, white, #878787 30%, #909090 50%);
               transform: rotate(45deg);
           }
           50% {
               background: radial-gradient(circle at 30% 65%, white, #80847e 30%, #6e6e6e 50%);
               transform: rotate(-45deg);
           }
       }
       
       @keyframes rota2 {
           0%,
           100% {
               transform: rotate(48deg);
           }
           50% {
               background: radial-gradient(circle at 30% 35%, white, #848584 30%, #000000 50%);
               transform: rotate(-45deg);
               /* background-color: black; */
           }
       }
       
       .hing {
           width: 4%;
           height: 4%;
           background: radial-gradient(circle at 70% 35%, white, #0f0f0f 30%, #070707 50%);
           z-index: 4;
           position: relative;
           top: 2%;
           left: 34.25%;
           border-radius: 50%;
           /* background-color: black; */
       }
       
       @keyframes moveShade {
           0% {
               transform: translateX(-600%) scale(1.8, .5);
               filter: blur(3vw);
           }
           50% {
               filter: blur(0.45vw);
           }
           100% {
               transform: translateX(600%) scale(1.8, .5);
               filter: blur(3vw);
           }
       }
       
       h1 {
           font-size: 3em;
           font-family: 'Courier New', Courier, monospace;
           /* color: black; */
           text-shadow: 5px 5px white;
       }
       
       a {
           text-decoration: none;
       }
       
       h2 {
           text-shadow: 5px 5px white;
           font-family: 'Courier New', Courier, monospace;
           font-size: 3em;
       }
       
       .skill-logo {
           width: 11%;
           height: 11%;
           margin: 4%;
       }
       
       .hobbies-list {
           padding: 0.5em;
           font-family: 'Courier New', Courier, monospace;
           margin: 0.5em;
           display: inline-block;
           font-size: 3vw;
       }
       
       .i-hobbies {
           width: 15%;
           /* height: 90px; */
           padding: 0.7em;
           margin: 0.7em;
           border-radius: 45px
       }
       
       #profile {
           width: 20%;
           height: 20%;
           padding: 0%;
           border: 9px groove rgb(0, 149, 255);
           border-radius: 45px;
           /* margin-top: 34px; */
           /* box-shadow: 5px 10px #483f3f; */
           box-shadow: 10px 10px 10px #483f3f;
       }
       
       #profile:hover {
           width: 30%;
           border: 9px grove rgb(0, 149, 255);
           border-radius: 45px;
           width: 25%;
           transform: rotate(360deg);
           transition: width 2s, height 2s, transform 2s;
           /* margin-top: 34px; */
           box-shadow: 10px 10px 10px #483f3f;
       }
       
       .foot-ele {
           font-family: 'Courier New', Courier, monospace;
       }
       
       footer {
           display: inline-block;
           color: black;
           text-align: center;
       }
       
       .foot-img {
           width: 5%;
           margin: 0.7em;
           border-radius: 45px
       }
       
       .skill-logo:hover {
           width: 15%;
           /* height: 90px; */
           padding: 0.5em;
           margin: 0.5em;
           border-radius: 25%;
           box-shadow: 10px 10px 5px #483f3f;
           transform: rotate(360deg);
           transition: width 2s, height 2s, transform 2s;
       }
       
       .i-hobbies:hover {
           box-shadow: 10px 10px 5px #483f3f;
           width: 20%;
           /* height: 90px; */
           padding: 0.7em;
           margin: 0.7em;
           border-radius: 45px;
           transform: rotate(360deg);
           transition: width 2s, height 2s, transform 2s;
       }